MAIL_HOST=smtp.etic.co.ao
MAIL_PORT=587
MAIL_SECURE=false
MAIL_USER=dev.teste@etic.co.ao
MAIL_PASSWORD=MUDA_ESTA_SENHA
MAIL_FROM="Eduall Software" <dev.teste@etic.co.ao>
NOTIFY_EMAILS=vicentemanueleduardo@gmail.com,kiossocamuegi@gmail.com
APP_CLIENT_URL=https://reuniao.eduall.io/

# Fallback Gmail (opcional)
GMAIL_USER=kiossocamuegi@gmail.com
GMAIL_PASSWORD=MUDA_ESTE_APP_PASSWORD
